[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gyeongseokseo
[access "refs/for/refs/*"]
	read = group user/gyeongseokseo
	push = group user/gyeongseokseo
	label-Code-Review = -2..+2 group user/gyeongseokseo
	label-Verified = -1..+1 group user/gyeongseokseo
	rebase = group user/gyeongseokseo
	removeReviewer = group user/gyeongseokseo
	submit = group user/gyeongseokseo
[access "refs/heads/*"]
	read = group user/gyeongseokseo
	create = group user/gyeongseokseo
	push = +force group user/gyeongseokseo
	pushMerge = group user/gyeongseokseo
[access "refs/tags/*"]
	push = +force group user/gyeongseokseo
	pushTag = group user/gyeongseokseo
	pushSignedTag = group user/gyeongseokseo
